In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
dataset = pd.read_csv('dataku.csv')

In [3]:
dataset.head (10)

,sks1,sks2,sks3,sks4,sks5,sks6,sks7,sks8,ips1,ips2,...,ipk3,ipk4,ipk5,ipk6,ipk7,ipk8,kerja,nikah,organisasi,label
0,19,21,18,23,21,17,20,8,3.53,3.90,...,3.59,3.56,3.59,3.60,3.48,3.50,IYA,SUDAH,IYA,TERLAMBAT
1,19,21,18,23,21,17,20,8,3.47,3.76,...,3.57,3.54,3.60,3.59,3.47,3.49,IYA,SUDAH,IYA,TERLAMBAT
2,19,21,18,23,21,17,20,8,3.21,3.14,...,3.17,3.19,3.22,3.17,3.10,3.13,BELUM,SUDAH,IYA,TERLAMBAT
3,19,21,18,23,21,17,20,8,3.21,3.14,...,3.07,3.19,3.22,3.17,3.10,3.13,IYA,BELUM,TIDAK,TERLAMBAT
4,19,21,18,23,21,17,20,8,3.58,3.33,...,3.45,3.46,3.51,3.51,3.51,3.43,BELUM,SUDAH,TIDAK,TERLAMBAT
5,19,21,18,23,21,17,20,8,3.32,3.14,...,3.24,3.20,3.26,3.24,3.18,3.20,BELUM,SUDAH,TIDAK,TERLAMBAT
6,19,21,18,23,21,17,20,8,3.05,2.81,...,2.93,2.95,3.03,3.02,2.97,3.03,BELUM,BELUM,IYA,TERLAMBAT
7,19,21,18,23,21,17,20,8,2.53,2.76,...,2.71,2.85,2.99,2.99,2.95,3.01,BELUM,SUDAH,IYA,TERLAMBAT
8,19,21,18,23,21,17,20,8,3.37,3.19,...,3.22,3.26,3.35,3.35,3.32,3.36,BELUM,BELUM,TIDAK,TERLAMBAT
9,19,21,18,23,21,17,20,8,3.53,3.14,...,3.26,3.32,3.40,3.40,3.35,3.39,BELUM,SUDAH,IYA,TERLAMBAT

In [4]:
from sklearn.preprocessing import LabelEncoder

labelencoder = LabelEncoder()
dataset['kerja'] = labelencoder.fit_transform(dataset['kerja'])
dataset['nikah'] = labelencoder.fit_transform(dataset['nikah'])
dataset['organisasi'] = labelencoder.fit_transform(dataset['organisasi'])
dataset['label']= labelencoder.fit_transform(dataset['label'])

dataset.head(10)

,sks1,sks2,sks3,sks4,sks5,sks6,sks7,sks8,ips1,ips2,...,ipk3,ipk4,ipk5,ipk6,ipk7,ipk8,kerja,nikah,organisasi,label
0,19,21,18,23,21,17,20,8,3.53,3.90,...,3.59,3.56,3.59,3.60,3.48,3.50,1,1,0,1
1,19,21,18,23,21,17,20,8,3.47,3.76,...,3.57,3.54,3.60,3.59,3.47,3.49,1,1,0,1
2,19,21,18,23,21,17,20,8,3.21,3.14,...,3.17,3.19,3.22,3.17,3.10,3.13,0,1,0,1
3,19,21,18,23,21,17,20,8,3.21,3.14,...,3.07,3.19,3.22,3.17,3.10,3.13,1,0,1,1
4,19,21,18,23,21,17,20,8,3.58,3.33,...,3.45,3.46,3.51,3.51,3.51,3.43,0,1,1,1
5,19,21,18,23,21,17,20,8,3.32,3.14,...,3.24,3.20,3.26,3.24,3.18,3.20,0,1,1,1
6,19,21,18,23,21,17,20,8,3.05,2.81,...,2.93,2.95,3.03,3.02,2.97,3.03,0,0,0,1
7,19,21,18,23,21,17,20,8,2.53,2.76,...,2.71,2.85,2.99,2.99,2.95,3.01,0,1,0,1
8,19,21,18,23,21,17,20,8,3.37,3.19,...,3.22,3.26,3.35,3.35,3.32,3.36,0,0,1,1
9,19,21,18,23,21,17,20,8,3.53,3.14,...,3.26,3.32,3.40,3.40,3.35,3.39,0,1,0,1

In [5]:
import math
def jarak(x1,x2):
    dist =0.0
    for i in range (len (x1)):
        dist +=(x1[i]- x2[i])**2
        
    return math.sqrt(dist)

In [6]:
from math import sqrt
def euclidean_distance(x1,x2):
    distance = 0.0
    for i in range(len(x1)-1):
        distance += (x1[i] - x2[i])**2
    return sqrt(distance)
dataset=[[2.449489742783178]]
x0 = dataset[0]
for x in dataset:
    distance = euclidean_distance(x0,x)
    print(distance)

0.0

In [7]:
def get_neighbors(train, tes_x,num_neighbors):
    distances = list()
    for train_x in train:
        dist = euclidean_distance(test_x, train_x)
        distances.append((train_x, dist))
    distances.sort(key=lambda tup: tup[1])
    neigbors = list()
    for i in range(num_neighbors):
            neighbors. append(distances[i][0])
    return neighbors

In [8]:
from math import sqrt
def euclidean_distance(x1, x2):
    distance = 0.0
    for i in range(len(x1)-1):
        distance=+(x1[i]- x2[i])**2
        return sqrt(distance)
def get_neighbors(train, test_x, num_neighbors):
    distances = list()
    for train_x in train:
        dist = euclidean_distance(test_x, train_x)
        distances.append((train_x, dist))
    distances.sort(key=lambda tup: tup[1])
    neighbors = list()
    for i in range(num_neighbors):
        neighbors.append(distances[i][0])
    return neighbors
#Test distance function
dataset = [[2.78110836,2.550537003,0],
    [1.465489372,2.362125076,0],
    [3.396561688,4.400293529,0],
    [1.38807019,1.850220317,0],
    [3.06407232,3.005305973,0],
    [7.627531214,2.759262235,1],
    [5.332441248,2.088626775,1],
    [6.922596716,1.77106367,1],
    [8.675418651,-0.242068655,1],
    [7.673756466,3.508563011,1]]
          
neighbors = get_neighbors(dataset,dataset[0], 3)
for neighbor in neighbors:
    print (neighbor)

[2.78110836, 2.550537003, 0]
[3.06407232, 3.005305973, 0]
[3.396561688, 4.400293529, 0]

In [9]:
def predict_classification(train, test_x, num_neighbors):
    neighbors = get_neighbors(train, test_x, num_neighbors)
    output_values = [x[-1] for x in neighbors]
    prediction = max(set(output_values), key=output_values.count)
    return prediction
 
# Test distance function
dataset = [[2.7810836,2.550537003,0],
    [1.465489372,2.362125076,0],
    [3.396561688,4.400293529,0],
    [1.38807019,1.850220317,0],
    [3.06407232,3.005305973,0],
    [7.627531214,2.759262235,1],
    [5.332441248,2.088626775,1],
    [6.922596716,1.77106367,1],
    [8.675418651,-0.242068655,1],
    [7.673756466,3.508563011,1]]
prediction = predict_classification(dataset, dataset[0], 3)
print('Expected %d, Got %d.' % (dataset[0][-1], prediction))

Expected 0, Got 0.

In [10]:
# k-nearest neighbors on the Iris Flowers Dataset
from random import seed
from random import randrange
from csv import reader
from math import sqrt

In [11]:
#Load a CSV file
def load_csv(filename):
    dataset = list()
    with open(filename, 'dataku') as file:
        csv_reader = reader(file)
        for row in csv_reader:
                
            if not x:
                continue
            dataset.append(x)
    return dataset

In [12]:
# Convert string column to float
def str_column_to_float(dataset, column):
    for x in dataset:
        x[column] = float(x[column].strip())

In [13]:
# Convert string column to integer
def str_column_to_int(dataset, column):
    class_values = [x[column] for x in dataset]
    unique = set(class_values)
    lookup = dict()
    for i, value in enumerate(unique):
        lookup[value] = i
    for x in dataset:
        x[column] = lookup[x[column]]
    return lookup

In [14]:
# Find the min and max values for each column
def dataset_minmax(dataset):
    minmax = list()
    for i in range(len(dataset[0])):
        col_values = [x[i] for x in dataset]
        value_min = min(col_values)
        value_max = max(col_values)
        minmax.append([value_min, value_max])
    return minmax

In [15]:
# Rescale dataset columns to the range 0-1
def normalize_dataset(dataset, minmax):
    for x in dataset:
        for i in range(len(x)):
            x[i] = (x[i] - minmax[i][0]) / (minmax[i][1] - minmax[i][0])

In [16]:
# Split a dataset into k folds
def cross_validation_split(dataset, n_folds):
    dataset_split = list()
    dataset_copy = list(dataset)
    fold_size = int(len(dataset) / n_folds)
    for _ in range(n_folds):
        fold = list()
        while len(fold) < fold_size:
            index = randrange(len(dataset_copy))
            fold.append(dataset_copy.pop(index))
        dataset_split.append(fold)
    return dataset_split

In [17]:
# Calculate accuracy percentage
def accuracy_metric(actual, predicted):
    correct = 0
    for i in range(len(actual)):
        if actual[i] == predicted[i]:
            correct += 1
    return correct / float(len(actual)) * 100.0

In [18]:
# Evaluate an algorithm using a cross validation split
def evaluate_algorithm(dataset, algorithm, n_folds, *args):
    folds = cross_validation_split(dataset, n_folds)
    scores = list()
    for fold in folds:
        train_set = list(folds)
        train_set.remove(fold)
        train_set = sum(train_set, [])
        test_set = list()
        for x in fold:
            x_copy = list(x)
            test_set.append(x_copy)
            x_copy[-1] = None
        predicted = algorithm(train_set, test_set, *args)
        actual = [x[-1] for row in fold]
        accuracy = accuracy_metric(actual, predicted)
        scores.append(accuracy)
    return scores

In [19]:
# Calculate the Euclidean distance between two vectors
def euclidean_distance(x1, x2):
    distance = 0.0
    for i in range(len(x1)-1):
        distance += (x1[i] - x2[i])**2
    return sqrt(distance)

In [20]:
# Locate the most similar neighbors
def get_neighbors(train, test_x, num_neighbors):
    distances = list()
    for train_x in train:
        dist = euclidean_distance(test_x, train_row)
        distances.append((train_x, dist))
    distances.sort(key=lambda tup: tup[1])
    neighbors = list()
    for i in range(num_neighbors):
        neighbors.append(distances[i][0])
    return neighbors

In [21]:
# Make a prediction with neighbors
def predict_classification(train, test_x, num_neighbors):
    neighbors = get_neighbors(train, test_x, num_neighbors)
    output_values = [x[-1] for x in neighbors]
    prediction = max(set(output_values), key=output_values.count)
    return prediction

In [22]:
# kNN Algorithm
def k_nearest_neighbors(train, test, num_neighbors):
    predictions = list()
    for x in test:
        output = predict_classification(train, x, num_neighbors)
        predictions.append(output)
    return(predictions)

In [23]:
# Test the kNN on the Iris Flowers dataset
seed(1)
filename = 'dataku1.csv'
dataset = load_csv(filename)
for i in range(len(dataset[0])-1):
    str_column_to_float(dataset, i)

ValueError: invalid mode: 'dataku'

In [ ]:
# convert class column to integers
str_column_to_int(dataset, len(dataset[1])-1)

In [4]:
# evaluate algorithm
n_folds = 5
num_neighbors = 5
scores = evaluate_algorithm(dataset, k_nearest_neighbors, n_folds, num_neighbors)
print('Scores: %s' % scores)
print('Mean Accuracy: %.3f%%' % (sum(scores)/float(len(scores))))

NameError: name 'evaluate_algorithm' is not defined